/* BASIC PROPERTIES */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
html{
    font-size: 62.5%;
}
body{
    text-align: center;
}
#main-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.start{
    border-radius: 1rem;
    width: fit-content;
    border: .2rem solid #72728feb;
    line-height: 2;
    padding: 0 1rem;
    font-weight: 700;
    cursor: pointer;
    background-color: #8de2e9c2;
    box-shadow: .2rem .4rem .4rem gray;
}
h1{
    margin-top:1rem;
}
h3{
    margin: 2rem 0;
    font-size: 2rem;
}
.yellow,.red,.green,.blue{
    margin: .4rem;
    height: 100%;
    width:13rem;
}
.flash{
    filter: sepia(0%) hue-rotate(8deg) saturate(7);
}
.gameOverFlash{
    background-color: red;
}

/* MEDIA QUERIES */

@media screen and (min-width:431px){
    .start{
        display: none;
    }

}