/* BASIC PROPERTIES */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
html{
    font-size: 62.5%;
}
body{
    text-align: center;
}
#main-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
h1{
    margin-top:1rem;
}
h3{
    margin: 2rem 0;
    font-size: 2rem;
}
.yellow,.red,.green,.blue{
    margin: .4rem;
    height: 100%;
    width:13rem;
}
.flash{
    filter: sepia(0%) hue-rotate(8deg) saturate(7);
}
.gameOverFlash{
    background-color: red;
}

/* MEDIA QUERIES */
@media screen and (orientation:portrait){
    .desktop{
        display: none;
    }

}
@media screen and (orientation:landscape){
    .mobile{
        display: none;
    }

}